{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block navbar %}

{% endblock %}
{% block body %}
<form method="post" class="login-form">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
    <div class="form_group">
        <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>  
    </div>
    <div class="form_group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="_remember_me">
        <label class="form-check-label" for="flexCheckDefault">
            Se souvenir de moi
        </label>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
    <a href="{{ path('app_forgot_password_request') }}" class="reset-psw">Mot de passe oublié ?</a>
</form>
{% endblock %}
