{% extends 'base.html.twig' %}

{% block title %}Hello MaterialController!{% endblock %}

{% block body %}


<div class="list_materials_content">
        <div class="material_array">
            <table>
                <th>
                    <td>Elément</td>
                    <td>N° étiquette</td>
                    <td>N° de série</td>
                    <td>Disponibilité</td>
                    <td>Emprunteur</td>
                    <td>Nombre d'emprunt</td>
                    <td>Commentaire</td>
                </th>
                {% for material in materials %}
                <tr>
                    <td>{{material.name}}</td>
                    <td>{{material.serialnumber}}</td>
                    <td>{{material.tagnumber}}</td>
                    <td>X</td>
                    <td>{{material.location}}</td>
                    <td>X</td>
                    <td>{{material.comment}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
</div>
{% endblock %}
