{% extends 'base.html.twig' %}

{% block title %}Hello MaterialController!{% endblock %}

{% block titlePage %} {% endblock %}

{% block body %} 

<div class="header_page">
    <h2>Liste des matériels Campus Amiens</h1>
</div>
<div class="list_materials_content">
            <table>
                <tr>
                    <th>Elément</th>
                    <th>N° étiquette</th>
                    <th>N° de série</th>
                    <th>Disponibilité</th>
                    <th>Emprunteur</th>
                    <th>Commentaire</th>
                </tr>
                {% for material in materials %}
                <tr>
                    <td><p>{{material.name}}</p></td>
                    <td><p>{{material.serialnumber}}</p></td>
                    <td><p>{{material.tagnumber}}</p></td>
                    <td><p>X</p></td>
                    <td><p>{{material.location}}</p></td>
                    <td><p>{{material.comment}}</p></td>
                </tr>
                {% endfor %}

            </table>
</div>
{% endblock %}
