{% extends 'base.html.twig' %}

{% block title %}Hello BorrowingController!
{% endblock %}

{% block body %}
<div class="header_page">
    <h2>Créer un emprunt Campus Amiens</h1>
</div>

	<div class="content">
        <p class="content_title">
            Créer un emprunt
        </p>
		{{ form_start(borrowing_edit) }}
            <div class="form-group">
                {{ form_label(borrowing_edit.material_id) }}
                {{ form_widget(borrowing_edit.material_id, {'attr': {'class': 'form-control-name'}}) }}
            </div>
		    <div class="form-group">
                {{ form_label(borrowing_edit.employee) }}
                {{ form_widget(borrowing_edit.employee, {'attr': {'class': 'form-control-name'}}) }}
            </div>
		    <div class="form-group">
                {{ form_label(borrowing_edit.comment) }}
                {{ form_widget(borrowing_edit.comment, {'attr': {'class': 'form-control-name'}}) }}
            </div>
		<button type="submit">Envoyer</button>
		{{ form_end(borrowing_edit) }}
	</div>

{% endblock %}