{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}
<div class="header_page">
    <h2>Liste des utilisateurs Campus Amiens</h2>
</div>
<div class="users">
    <table>
        <tr>
            <th class="user_th1">Nom</th>
            <th class="user_th2">Prénom</th>
            <th class="user_th3">Pseudo</th>
            <th class="user_th4">Disponibilité</th>
            <th class="user_th5">Roles</th>
            <th class="user_th6">Action</th>
        </tr>
            {% for employee in employees %}
            <tr>
                <td class="user_td1"><p>{{ employee.lastname}}</p></td>
                <td class="user_td2"><p>{{ employee.firstname}}</p></td>
                <td class="user_td3"><p>{{ employee.username}}</p></td>
                {% if employee.isActive == 1 %}
                <td class="user_td4"><p>Actif</p></td>
                {% else %}
                <td class="user_td4"><p>Inactif</p></td>
                {% endif %}
                <td class="user_td5">
                    <p>
                        {% for role in employee.roles %}
                        {{ role}}
                        {% endfor %}
                    </p>
                </td>
                <td class="user_td5">
                    <a href="{{path('employee_show', {id: employee.id})}}" class="btn btn-primary">
                        <img src="{{asset('images/eye.png')}}" class="consult_user">
                    </a>
                    <a href="{{path('employee_edit', {id: employee.id})}}" class="btn btn-primary">
                        <img src="{{asset('images/profile.png')}}" class="edit_user">
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}
