{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="users">
    <h3>Barre de recherche</h3>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Fonction</th>
            <th>Formation</th>
            <th>Activité</th>
            <th>Action</th>
        </tr>
            {% for user in users %}
            {# {{ dump(users.borrowings)}} #}
            <tr>
                <td>{{ user.lastname}}</td>
                <td>{{ user.firstname}}</td>
                <td>{{ user.username}}</td>
                <td>{{ user.password}}</td>
                <td>{{ user.roles}}</td>
                <td>Consulter / Modifier</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}
