{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="users">
    <h3>Barre de recherche</h3>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Fonction</th>
            <th>Formation</th>
            <th>Activité</th>
            <th>Action</th>
        </tr>
            {% for user in users %}
            {# {{ dump(users.borrowings)}} #}
            <tr>
                <th>{{ user.lastname}}</th>
                <th>{{ user.firstname}}</th>
                <th>{{ user.material_id}}</th>
                <th>{{ user.password}}</th>
                <th>{{ user.roles}}</th>
                <th>Consulter / Modifier</th>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}
